.hdf5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
ai/mysite/yolo/my-tiny.weights filter=lfs diff=lfs merge=lfs -text
ai/mysite/yolo/my-tiny.pbtxt filter=lfs diff=lfs merge=lfs -text
